body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(123, 130, 128);
}

h1 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

div {
    margin-bottom: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
}
fieldset {
    padding-right: 30px;
}
input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    display: block;
    width: 100%;
    padding: 0.5em;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
