*{
    box-sizing: border-box;
   
    font-family: Georgia, 'Times New Roman', Times, serif;

}
/* comienza el header */
header{
    display: flex;
    flex-wrap: wrap;
    background-image: url(../imgtp/fondo.jpg) ;    
    width: 100%;
    height: 100px;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
    padding: 15px;

}
/* div que contiene logo y nombre de empresa con un fondo difuso*/
header div{
    display: flex;
    flex-wrap: wrap;
    /* fondo difuso */
    background-color: rgba(127, 135, 169, 0.7);
    width: 70%;
    height: 60px;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    
}
/* logo de la empresa en el header */
header img{
    height: 50px;
    padding: 7px 5px 10px ;
}
/* nombre de la empresa en header */
header h1{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 30px;
    color:white;
    margin: 5px;
    width: 50%;
    height: 30px;
    border-radius: 15px;
    flex-wrap: wrap;
    
}
 /* barra de navegacion  */
.navbar{
    background-color: #536a6d;
    text-align: center;
    padding: 1px 15px ;
    width: 100%;
    height: 30px;
    border-radius: 10px; 
    
}
/* estilo de a */
.navbar a{
    color: white;
    padding: 0px 20px;
    text-decoration: none;
    text-align: center;

}
/* cursor sobre a */
.navbar a:hover {
    background-color: #68c8cf;
}
/* main es el cuerpo que tiene dos columnas aside y section */
main{
    display: flex;
    flex-wrap: wrap;
    background-color:orange;
    width: 100%;
    margin: 0;
    padding: 0;
}
/* aside derecha tiene dos elementos una tarjeta y un video con titulo */
.aside{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(104, 132, 151);
    width: 25%;
    border-radius: 5px;
    justify-content: center;
}
/* tarjeta del aside gira  */
.aside tarjeta{
    background-color: aqua;
    width:20px;
    
/* giro de la tarjeta */
}
.flip-card-inner{
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;    
}
.flip-card:hover .flip-card-inner{
    transform: rotatey(180deg);

}
.flip-card-front, .flip-card-back{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-back{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #001001;
    color: white;
    transform: rotatey(180deg);
    border-radius: 10px;
    padding: 25px;
    font-size: 1vw;

}
.flip-card-back h2{
    color: white;
}
/* titulo del video aside */
.video h3 {
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 15px;
    text-align: center;
}

/* video del aside */
.video iframe{
    width: 80%;
    margin: 0px;
    margin-left: 10px;
    padding: 0px;
   
}
/* comienza el section con 4 item */
.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(144, 148, 143);
    width: 75%;
    height: 100%;
    margin: 0;
    padding: 5px;
    border-radius: 5px;
}

.section div{
    background-color: rgb(161, 147, 147);
    width: 48%;
    height: 48%;
    margin: 5px;
    text-align: left;
}
.section h3{
    margin: 0;
}
.section p{
    margin: 0;
    font-size: 12px;
}
.item{
   margin: 0; 
   color: beige;
   border: 2px white solid;
}
.item img{
    margin: 0px;
    margin-left: 10px;
    padding: 0px;
    height: 50%;
    width: 30%;
}
.item a{
    margin-top: 5px;
    font-size: 10px;
    text-align: center;
    color: black;
    border-radius: 10x;
    background-color: lightblue;
    
}
.item a:hover{
    background-color: rgb(138, 138, 100);
}
/* comienza el footer con derechos y contactos */

footer{
    display: flex;    
    background-color: #536a6d;
    height: 40px;
    color: white;
    justify-content: space-between;
}
footer div a {
    align-content: center;
    color: white;
    font-size: 13px;
    padding: 0px 25px;
    text-decoration: none;
    height: 25px;

}
footer div a:hover {
    background-color: #001011;

}
footer div p {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 10px;
    color: white;
}
@media (max-width: 972px){
   
    header h1 {
        font-size: 21px;
    }
    .video h3{
        font-size: 18px;
    }
    .navbar a{
        font-size: 14px;
    }
}
@media (max-width: 672px){
   
    header h1 {
        font-size: 15px;
    }
    .video h3{
        font-size: 12px;
    }
    .navbar a{
        font-size: 10px;
    }
}